extends base

block content
  section.layout
    aside.layout__left
    
      <a href="#" class="btn btn--dark layout__left-myposts">My posts</a>
      <a href="/newPost" class="btn btn--dark layout__left-post">New post</a>
    main.layout__main
      each post in posts
        .post
          a.post__left.no-decoration(href=`/post/${post.id}`)
            .header__wrapper
              h3.post__left-header #{post.title}
              p.post__left-originalPoster #{post.poster}
            p.post__left-text #{post.body.length > 200 ? post.body.slice(0,200).concat('...') : post.body}
          .post__rating
            p.post__rating-like Like(#{post.like})
            p.post__rating-dislike Dislike(#{post.dislike})
    aside.layout__right
      | RIGHT SIDE