extends base

block content
  section.layout
    aside.layout__left
      <a href="/user" class="btn btn--dark layout__left-myposts">Profile</a>
      <a href="/newPost" class="btn btn--dark layout__left-post">New post</a>
    main.layout__main
      section.main__post
        section.showComment.hidden
          .showComment__background
            .showComment__main
              h1.showComment__header Add a new comment
              form.showComment__form(action=`/post/${post.id}/createComment` method="post")
                textarea.showComment__input(cols='30' rows='10' maxlength='200' name="body")
                button.showComment__btn.btn.btn--dark Create comment
              p.showComment__close X
        p.main__post-poster.btn #{post.poster}
        h3.main__post-header #{post.title}
        p.main__post-text #{post.body}
        .main__post-rating
          a(href=`/${post.id}/like`)
            p.main__post-like.btn.btn--dark Like(#{post.like})
          a(href=`/${post.id}/dislike`)
            p.main__post-dislike.btn.btn--dark Dislike(#{post.dislike})
          p.newComment__button.btn.btn--dark Reply
      section.comments
        for comment in comments
          .comment
            .comment__wrapper
              p.comment__wrapper-username.btn #{comment.poster}
              p.comment__wrapper-text #{comment.body}
              .date__wrapper
                - const time = comment.createdAt.toString().slice(16, 21);
                - const date = comment.createdAt.toString().slice(4, 15);
                p.date__wrapper-time #{date}
                p.date__wrapper-date #{time}
    aside.layout__right RIGHT