extends base

block content
  section.layout
    aside.layout__left
      <a href="/user" class="btn btn--dark layout__left-myposts">Profile</a>
      <a href="/newPost" class="btn btn--dark layout__left-post">New post</a>
    main.layout__main
      h3.user-page__header Your account settings
      .user__form
        form.user__form-form(action='/updateVisible' method="POST")
          p.user__form-text Email
          input.user__form-input(type='email', name="email", placeholder=`${currentUser.email}`)
          button.user__form-button.btn.btn--form-white SAVE SETTINGS
      .user-page__picture
        img.user-page__avatar(src=`/img/${currentUser.image}` alt=`${currentUser.username}`)
        form(action='/updateImage' method="PATCH" enctype="multipart/form-data")
          input.user-page__updatePicture(type="file" accept='image/*' name="image")
          button.user__form-button.btn.btn--form-white UPLOAD
      .user__form 
        form.user__form-form(action='/updatePassword' method="POST")
          p.user__form-text Current password
          input.user__form-input(type='password' name="currentPassword" placeholder='••••••••')
          p.user__form-text New password
          input.user__form-input(type='password' name="password" placeholder='••••••••')
          p.user__form-text Confirm password
          input.user__form-input(type='password' name="confirmPassword" placeholder='••••••••')
          button.user__form-button.btn.btn--form-white SAVE PASSWORD
      .user-posts
        h3.user-page__header Your posts
      if (userPosts.length > 0)
      each post in userPosts
        .post
          a.post__left.no-decoration(href=`/post/${post.id}`)
            h3.post__left-header #{post.title}
            p.post__left-text #{post.body.length > 200 ? post.body.slice(0,200).concat('...') : post.body}
          .post__rating
            p.post__rating-like #{post.createdAt.toString().slice(0,21)}
            p.post__rating-num #{post.comments}
      else 
        h3.user-page__header No posts
    aside.layout__right
      | RIGHT SIDE
